.movies-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: stretch;
  list-style: none;
  .movies-list__movie-container {
    flex-basis: 300px;
    margin-right: 10px;
  }
}
