/**
 * CONTENTS
 *
 * VENDOR
 * Skeleton.css  .....................Normalize css.
 */
@import './vendors/skeleton/normalize.css';
@import './vendors/skeleton/skeleton.css';
@import './partials/alerts';
@import './partials/list';

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('OpenSans-Regular.ttf');
}
html {
  font-size: 62.5%;
  min-height: 100%;
  position: relative;
}
body {
  font-family: 'Open Sans';
  background: #fafafa;
}