.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
  height: 300px;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
  .card__heading {
    padding: 8px;
    h2 {
      text-align: center;
      margin-bottom: 0;
      font-weight: bold;
      font-size: 2.5rem;
      color: white;
    }
  }
  .card__poster {
    position: absolute;
    top: 12.5%;
    left: 20%;
    width: 60%;
    z-index: -2;
    border-radius: 8px;
  }
  .card__back-opacity {
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 8px;
    left: 0;
    right: 0;
    background: black;
    opacity: .5;
    z-index: -1;
  }
}
