.c-button {
  color: white;
  background-color: #ff4081;
  &:hover {
    color: white;
    opacity: .8;
  }
  &:focus {
    color: white;
    border-color: #ff4081;
  }
  &.c-button__inactive {
    color: #ff4081;
    border-color: #ff4081;
  }
}
.c-button-rounded {
  margin-bottom: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  border-radius: 100px;
  .c-button-rounded__icon {
    width: 28px;
    height: 28px;
    vertical-align: middle;
  }
}
