input.c-input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
  font-weight: 100;
  background: transparent;
  &:focus {
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
  }
}