.movie-wrapper {
  margin-top: 3rem;
  .movie-wrapper__heading h1 {
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
  }
  .movie-wrapper__heading p {
    margin: 0;
  }
  .movie-wrapper__heading__poster {
    width: calc(100% - 60px);
  }
  .movie-wrapper__heading__actions {
    display: inline;
    margin-left: 4px;
    vertical-align: top;
  }
}
.section-title {
  width: 100%;
  text-align: center;
  font-size: 2.3rem;
}