.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px solid #eaeaea;
  .header__brand-title h1 {
    font-size: 24px;
    margin-bottom: 0;
  }
}